# Node modules
node_modules/

# Build directories
build/
dist/

# Tailwind CSS output (optional, if applicable)
*.css.map

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac OS system files
.DS_Store

# Temporary files created by editors or IDEs
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Parcel cache (if using Parcel)
.cache/

# Coverage reports (if using testing libraries like Jest)
coverage/

# ESLint cache
.eslintcache

# SASS cache
.sass-cache/

# Tailwind CSS output (optional, if applicable)
*.css.map

# Miscellaneous
*.log
